.titulo-cat {
    font-size: 27px;
    color: #FF0000;
    font-family: 'Asap';
    margin-bottom: 30px;
}

.div-product{
    height: 294px;
    width: 294px;
    margin: auto;
    border: 1px solid;
}

.div-product img{
    top: 0%;
    height: 294px;
    width: 294px;
}

.div-nombre{
    margin-top: 5%;
    color: #89B8E6;
    font-size: 22;
}

.div-nombrecat{
    color: #A3A3A3;    
}

.titulo_destacados{
    font-size: 32px;
    font-weight: 500;
    color: #806EA8;
}


.box-cap-destacados {
    position: absolute!important;
    left: 24%;
    top: 37%;
    display: table;
}

.div-nombredestacado {
    font-size: 32;
    color: white;
    font-family: 'Asap';
    background-color: #806EA8;
    height: 57px;
    width: 100%;
    padding: 0px 41px;
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 503px){
    .div-nombredestacado {
        width: 166px;
    }
    .destacados_home {
        margin-top: 6%;
    }

    .box-cap-destacados {
        position: absolute!important;
        left: 10%;
        top: 37%;
        width: 80%;
        display: table;
    }
}

.cuadradas img{
    border: 1px solid #C9C9C9!important;
}