input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
        width: 89px!important;
    background-color: transparent;
    border: none;
    border: 1px solid #c9c9c9!important;
    border-radius: 0;
    outline: none;
    height: 2.6rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.menuproductos {
    background-color: #F5F5F5;
    font-family: 'Lato', sans-serif;
    color: #595959;
    padding-top: 14px!important;
    border: 1px solid #C9C9C9;
    padding-bottom: 10px!important;
    margin-top: 26%!important;
}

.rpedido {
    position: relative;
    top: -4px!important;
    font-family: 'Asap';
    font-size: 14px;
}

.masproducto {
    background-color: #F5F5F5;
    border: 1px solid #C9C9C9;
    width: 96%!important;
    padding: 32px 87px 35px 10px!important;
    margin-top: 5%!important;
}